#Contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Contact .page-description {
  width: 80%;
}

.contact-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-info-social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-link {
  margin: 0 10px;
}

.contact-link img {
  width: 30px;
}

.contact-link img:hover {
  transform: scale(1.2);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form, .form-submitted {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#email-answer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#email-answer h4 {
  color: black;
}
fieldset {
  border: none;
}
legend {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Playfair Display",
    serif;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color:  black;
  font-family: "Montserrat",
    sans-serif;
}
input[type='email'],
textarea {
  color: black;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: white;
}

textarea {
  resize: vertical;
  /* Allow vertical resizing of textarea */
}

.email-text {
  display: inline-block;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.email-text:hover {
  color: #007bff;
}

button[type="submit"] {
  background-color: #EE6C4D;
}
button:hover {
  background-color: #4f4f4f;
  color: white;
}
button[type="button"] {
  background-color: #f5f5f5;
  color: black;
  margin-right: 10px;
}
button[type="button"]:hover {
  background-color: #e0e0e0;
}

#form-submitted h2 {
  font-family: "Playfair Display", serif;
}
#form-submitted p {
  font-family: "Montserrat", sans-serif;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-notification {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid #f5c6cb;
  max-width: 400px;
  margin: 10px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.message {
  flex-grow: 1;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    width: 80%;
  }
}