@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-light: #FFFFFF;
  --primary-text-color-light: #000000;
  --secondary-text-color-light: #555555;
  --accent-color-light: #007BFF;
  --border-color-light: #E0E0E0;

  --background-color-dark: #4F4F4F;
  --primary-text-color-dark: #FBEAEB;
  --secondary-text-color-dark: #EE6C4D;
  --accent-color-dark: #2F3C7E;
  --border-color-dark: #333333;
}

/* theme settings */
.primary.light {
  color: var(--primary-text-color-light);
}
.secondary.light {
  color: var(--secondary-text-color-light)
}
div.light,
main.light,
section.light,
button.light,
body.light {
  background-color: var(--background-color-light);
}

.primary.dark {
  color: var(--primary-text-color-dark);
}
.secondary.dark {
  color: var(--secondary-text-color-dark)
}
.accent.dark {
  color: var(--accent-color-dark);
}
div.dark,
main.dark,
section.dark,
button.dark,
body.dark {
  background-color: var(--background-color-dark);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgba(255, 255, 255, 0);
}
button:hover {
  border-color: #646cff;
  background-color: darkslategray;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
